@tailwind base;
@tailwind components;
@tailwind utilities;

.home-background {
  background-color: #e5e5f7;
  opacity: 0.2;
  background-image: linear-gradient(#5c5c5c 1px, transparent 1px),
    linear-gradient(to right, #5c5c5c 1px, #e5e5f7 1px);
  background-size: 20px 20px;
}
